<!DOCTYPE html>
<html>
<head>
    <title>YouTube Sentiment Analysis</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/index.css')}}">
</head>
<body>
    <h1>YouTube Sentiment Analysis</h1>
    
        <form action="/" method="post" style="text-align: center;">
            <input type="text" name="video_url" placeholder="Enter YouTube URL" required>
            <input type="submit" value="Analyze">
        </form>

        {% if summary %}
        <div style="text-align: center;">
            <h2>Summary</h2>
            <p>Total Comments: {{ summary['num_comments'] }}</p>
            <p>Positive: {{ summary['positive'] }}</p>
            <p>Negative: {{ summary['negative'] }}</p>
            <p>Rating: {{ summary['rating'] }}%</p>
            <h3>Comments</h3>
        </div>
        <table class="center">
            <tr>
                <th>Comment</th>
                <th>Sentiment</th>
            </tr>
            {% for comment, sentiment in comments %}
            <tr>
                <td>{{ comment }}</td>
                <td>{{ sentiment }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </body>
    </html>
